{% extends 'back/base.html' %}
{% block top_js %}
    <script type="text/javascript">
        //下面用于多图片上传预览功能
        function setImagePreviews(avalue) {
            var docObj = document.getElementById("doc");
            var dd = document.getElementById("dd");
            dd.innerHTML = "";
            var fileList = docObj.files;
            for (var i = 0; i < fileList.length; i++) {

                dd.innerHTML += "<div style='float:left' > <img id='img" + i + "'  /> </div>";
                var imgObjPreview = document.getElementById("img" + i);
                if (docObj.files && docObj.files[i]) {
                    //火狐下，直接设img属性
                    imgObjPreview.style.display = 'block';
                    imgObjPreview.style.width = '150px';
                    imgObjPreview.style.height = '180px';
                    //imgObjPreview.src = docObj.files[0].getAsDataURL();
                    //火狐7以上版本不能用上面的getAsDataURL()方式获取，需要一下方式
                    imgObjPreview.src = window.URL.createObjectURL(docObj.files[i]);
                }
                else {
                    //IE下，使用滤镜
                    docObj.select();
                    var imgSrc = document.selection.createRange().text;
                    alert(imgSrc)
                    var localImagId = document.getElementById("img" + i);
                    //必须设置初始大小
                    localImagId.style.width = "150px";
                    localImagId.style.height = "180px";
                    //图片异常的捕捉，防止用户修改后缀来伪造图片
                    try {
                        localImagId.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale)";
                        localImagId.filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = imgSrc;
                    }
                    catch (e) {
                        alert("您上传的图片格式不正确，请重新选择!");
                        return false;
                    }
                    imgObjPreview.style.display = 'none';
                    document.selection.empty();
                }
            }

            return true;
        }

    </script>
{% endblock %}
{% from 'back/customer_macro/macro_own.html' import breadcrumb as breadcrumb %}

{% block note %}
{% endblock note %}
{% block breadcrumb %}
    {{ breadcrumb(two='增加用户',activate=2) }}
{% endblock breadcrumb %}
{% block content %}
    <div class="tpl-portlet-components">
        <div class="portlet-title">
            <div class="caption font-green bold">
                <span class="am-icon-code"></span> &nbsp;&nbsp;&nbsp; {{ page_title }}
            </div>
        </div>
        <div class="tpl-block">
            <div class="am-g">
                <div class="tpl-form-body tpl-form-line">
                    <form class="am-form tpl-form-line-form" method="post" enctype="multipart/form-data">
                        {{ form.csrf_token }}
                        <div class="am-form-group">
                            <label for="user-name" class="am-u-sm-3 am-form-label">{{ form.username.label }}</label>
                            <div class="am-u-sm-9">
                                {{ form.username(class='tpl-form-input',id='user-name',placeholder="请输入用户名") }}
                                {% if form.username.errors %}
                                    <small class="am-alert am-alert-danger">{{ form.username.errors.0 }}</small>
                                {% else %}
                                    <small class="">请输入8-10位用户名</small>
                                {% endif %}
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label for="user-phone" class="am-u-sm-3 am-form-label">{{ form.role.label }}</label>
                            <div class="am-u-sm-9">
                                {{ form.role() }}
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label for="user-email" class="am-u-sm-3 am-form-label">{{ form.email.label }}</label>
                            <div class="am-u-sm-9">
                                {{ form.email(class='tpl-form-input',id='user-email',placeholder='请输入邮箱') }}
                                {% if form.email.errors %}
                                    <small class="am-alert am-alert-danger">{{ form.email.errors.0 }}</small>
                                {% else %}
                                    <small class="">请输入电子邮箱</small>
                                {% endif %}
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label for="doc" class="am-u-sm-3 am-form-label">{{ form.face.label }}</label>
                            <div class="am-u-sm-9">
                                <div class="am-form-group am-form-file">

                                    <div class="tpl-form-file-img">
                                        <div id="dd" style=" width:200px;display: inline-block">
                                            <img src="{{ url_for('static',filename='user/user_face/default.jpg') }}"
                                                 style="width: 200px" alt="">
                                        </div>
                                        <br>
                                        {% if form.face.errors %}
                                            <small class="am-alert am-alert-danger">{{ form.face.errors.0 }}</small>
                                        {% else %}
                                            <small class="">请输选择头像</small>
                                        {% endif %}
                                        <br>
                                        <button type="button" class="am-btn am-btn-danger am-btn-sm">
                                            <i class="am-icon-cloud-upload"></i> 添加封面图片
                                        </button>
                                        {{ form.face(id="doc", type="file", multiple="",onchange="javascript:setImagePreviews();", accept="image/*") }}

                                    </div>

                                </div>
                            </div>
                            <div class="am-form-group">
                                <label for="user-weibo"
                                       class="am-u-sm-3 am-form-label">{{ form.password.label }}</label>
                                <div class="am-u-sm-9">
                                    {{ form.password(type='password',id='user-weibo',placeholder="请输入密码") }}
                                    {% if form.password.errors %}
                                        <small class="am-alert am-alert-danger">{{ form.password.errors.0 }}</small>
                                    {% else %}
                                        <small class="">请输入密码</small>
                                    {% endif %}
                                </div>

                            </div>
                            <div class="am-form-group">
                                <label for="user-weibo_2"
                                       class="am-u-sm-3 am-form-label">{{ form.password2.label }}</label>
                                <div class="am-u-sm-9">
                                    {{ form.password2(type='password',id='user-weibo_2',placeholder="请确认密码") }}
                                </div>
                            </div>

                            <div class="am-form-group">
                                <div class="am-u-sm-9 am-u-sm-push-3">
                                    {{ form.submit(type='submit',class='am-btn am-btn-primary tpl-btn-bg-color-success') }}
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}